// mixin for media queries
@mixin respond($breakpoint) {
	@if $breakpoint==mobile {
		@media only screen and (max-width: 550px) {
			@content;
		}
	}
	@if $breakpoint==tablet {
		@media only screen and (min-width: 550px) {
			@content;
		}
	}
	@if $breakpoint==desktop {
		@media only screen and (min-width: 800px) {
			@content;
		}
	}
	@if $breakpoint==desktop--large {
		@media only screen and (min-width: 1000px) {
			@content;
		}
	}
}

// animation fade up and in
@mixin fade-in {
	@keyframes fade-in {
		0% {
			opacity: 0;
			transform: translateY(10%);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
