:root {
	font-size: 16px;
	--border: 0.1rem solid var(--color-1);
	--border-radius: 0.5rem;
	--color-black: #352c2a;
	--color-white: #f6f6f6;
	--color-1: #0c6c2b;
	--color-2: #8cc43c;
	--color-3: #c1e499;
	--color-4: #5e9e72;
	--color-5: #a3c8ae;
	--color-neutral-1: #888888;
	--color-neutral-2: #bbbbbb;
	--color-neutral-3: #dddddd;
	--color-warning: #ff6565;
	--font-primary: "Courier", serif;
	--font-secondary: "Montserrat", sans-serif;
	--font-weight-bold: 900;
	--font-weight-regular: 400;
	--gap: 1rem;
	--gradient: rgba(0, 0, 0, 0.6);
	--letter-spacing: 0.1rem;
	--line-height: 1;
	--line-height-header: 1.3;
	--link-color: var(--color-1);
	--margin: 1rem;
	--max-width: 1200px;
	--min-height: 400px;
	--opacity: 0.5;
	--padding: 1rem;
	--padding-btn: 0.5rem 3rem;
	--transition: all var(--transition-time) ease;
	--transition-time: 150ms;
	--transform: scale(1.2);
}
