.item{
    &-image{
    width: 165px;
    height: 250px;
    padding: 1em 1em 0;
    text-align: right;
    }
    &-heart{
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        
        &-liked{
            border: none;
            width: 30px;
            height: 30px;
            background-color: transparent;
            svg{
                fill: black;
            }
        }
    }


}