.Item {
	margin-bottom: var(--margin);
}

.image-container {
	position: relative;
	width: 100%;
	min-width: 165px;
}

.item {
	&-image {
		width: 100%;
		min-width: 165px;
		height: 0;
		padding: 1em 1em 150%;
		text-align: right;
	}
	&-heart {
		width: 30px;
		height: 30px;
		background-color: transparent;
		border: none;
		position: absolute;
		top: 15px;
		right: 15px;
		svg {
			stroke: var(--color-1);
			stroke-width: 2px;
			fill: transparent;
			transition: var(--transition);
		}
		&-liked {
			position: absolute;
			top: 15px;
			right: 15px;
			border: none;
			width: 30px;
			height: 30px;
			background-color: transparent;
			svg {
				stroke: var(--color-1);
				stroke-width: 2px;
				fill: var(--color-1);
				transition: var(--transition);
				transform: var(--transform);
			}
		}
	}
}
