* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--link-color);
}

fieldset {
	border: 0;
}

hr {
	margin: 2rem 0;
}

legend {
	padding: 1rem 0;
	font-family: var(--font-primary);
	color: var(--color-1);
}

ul {
	list-style: none;
}
