// google font import
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");

h1 {
	color: var(--color-1);
	font-family: var(--font-secondary);
	line-height: var(--line-height-header);
	text-transform: uppercase;
}

h2 {
	color: var(--color-1);
	font-family: var(--font-secondary);
	font-size: 1.2rem;
	// font-weight: var(--font-weight-semibold);
}

h3 {
	font-family: var(--font-secondary);
	// text-transform: uppercase;
	font-weight: var(--font-weight-semibold);
	color: var(--color-black);
	letter-spacing: var(--letter-spacing);
}

h4 {
	font-family: var(--font-primary);
	color: var(--color-black);
	// font-weight: var(--font-weight-bold);
}

body,
p {
	font-family: var(--font-primary);
}
