@import "../../sass/partials/abstracts/mixins";

.single-item-page {
	// display: flex;
	// padding-inline: 15px;
	// max-width: 800px;
	padding: var(--padding);
	@include respond(desktop) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 0 auto;
		max-width: var(--max-width);
	}
}

.container--wrapper {
	@include respond(desktop) {
		grid-column: 1 / -1;
		display: grid;
		gap: var(--gap);
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		margin: 0 auto;
		max-width: var(--max-width);
	}
}

.container--description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.container--similar-items {
	margin-bottom: 3rem;
	@include respond(desktop) {
		grid-column: 1 / -1;
		// margin-bottom: 0;
	}
}

.similar-items-list {
	// display: flex;
	// flex-wrap: nowrap;
	// width: 100%;
	overflow-x: auto;
	display: grid;
	gap: var(--gap);
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	margin: 0 auto;
	// .Item {
	// 	margin: 15px;
	// 	width: 100%;
	// }
	@include respond(desktop) {
		display: flex;
		div.Item {
			width: 200px;
		}
		// margin: 0 auto;
		// justify-content: space-evenly;
	}
}
.similar-items-title {
	margin-bottom: 0.5rem;
}

.item-desc {
	margin-top: 0.5rem;
}
.item-price {
	// color: var(--color-bla);
	font-size: 1.5rem;
	font-family: var(--font-secondary);
	font-weight: var(--font-weight-semibold);
}

.table-container {
	padding: 0.5rem 0 1rem 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 0.2rem solid var(--color-3);
	text-align: center;
}

.detail-name {
	// font-weight: var(--font-weight-semibold);
	color: var(--color-1);
}

.detail-name,
.detail-value {
	width: 50%;
	padding: 1em;
	border-width: 1px 0;
	border-style: solid;
	border-color: var(--color-3);
}

section {
	margin-bottom: 20px;
}

.container--buy {
	@include respond(tablet) {
		grid-column: 1 / -1;
		margin: 0 auto;
		display: none;
	}
}

.container--buy--desktop {
	@include respond(mobile) {
		display: none;
	}
}

.buy {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-white);
	box-shadow: var(--box-shadow);
	.name-price {
		display: flex;
		justify-content: space-between;
		padding: var(--padding);
	}
	.button {
		padding: var(--padding);
		padding-top: 0;
	}
	button {
		width: 100%;
	}
}
