@import "../../sass/partials/abstracts/mixins";

.products {
	max-width: var(--max-width);
	margin: 0 auto;
	padding: 0 var(--padding);
	.item-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
		grid-gap: var(--gap);
		@include respond(desktop) {
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		}
		.item-none {
			grid-column: 1 /-1;
			text-align: center;
		}
	}
}

.favourites h1 {
	text-align: center;
	margin-bottom: 1rem;
}

.item-details .price .status {
	color: var(--color-warning);
	font-weight: var(--font-weight-semibold);
}

.favourites {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 0 auto;
}
