.banner{
    width: 100%;
    min-height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em 15px 2em 15px;
    text-align: center;
    .buttons{
        margin-top: auto;
    }
    a{
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        align-self: flex-end;
    }
}

.new-products{
    margin-top: 1.5em;
    padding: 0 15px;

    .title{
        margin-bottom: 10px;
    }
    
    .item-list{
        display: grid;
        grid-template-columns:repeat(auto-fill, minmax(165px, 1fr));
        grid-gap: 10px;
    }
}
