@import "../../sass/partials/abstracts/mixins";

.banner {
	width: 100%;
	min-height: var(--min-height);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--color-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: var(--padding);
	// padding: 4em 15px 2em 15px;
	text-align: center;
	.buttons {
		// margin-top: auto;
		display: flex;
		flex-direction: column;
		gap: var(--gap);
		margin: var(--margin);
		width: 100%;
		@include respond(desktop) {
			max-width: var(--max-width);
			display: grid;
			gap: var(--gap);
			grid-template-columns: 1fr 1fr;
		}
	}
	.title {
		font-size: 2.5rem;
		color: var(--color-white);
	}
	.sub-title {
		letter-spacing: var(--letter-spacing);
	}
	// a {
	// 	// width: 100%;
	// 	// text-align: center;
	// 	// margin-bottom: 20px;
	// 	// align-self: flex-end;
	// }
}
.new-products {
	max-width: var(--max-width);
	margin: 0 auto;
	margin-top: var(--margin);
	padding: 0 var(--padding);
	.title {
		margin-bottom: var(--margin);
	}
	.item-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
		grid-gap: var(--gap);
		@include respond(desktop) {
			grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		}
	}
}
