@import "../../sass/partials/abstracts/mixins";

.products {
	max-width: var(--max-width);
	margin: 0 auto;
	// margin-top: 1em;
	padding: 0 var(--padding);
	.item-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
		grid-gap: var(--gap);
		@include respond(desktop) {
			grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		}
	}
}

.sub-categories {
	display: flex;
	justify-content: center;
	a {
		margin: 0 var(--margin);
		text-transform: capitalize;
		&.active {
			font-weight: var(--font-weight-bold);
			text-decoration: underline;
		}
	}
}

.filters {
	display: flex;
	justify-content: space-between;
	gap: var(--gap);
	margin: var(--margin) 0;
	@include respond(desktop) {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
}

.shop h1 {
	text-align: center;
}

.shop {
	flex-grow: 1;
}
