.item-list {
	li {
		padding-bottom: 0.5rem;
		border-bottom: 0.2rem solid var(--color-1);
	}
}

.status-links {
	display: flex;
	justify-content: center;
	margin: var(--margin) 0;
	a {
		margin: 0 var(--margin);
		text-transform: capitalize;
		&.active {
			font-weight: var(--font-weight-bold);
			text-decoration: underline;
		}
	}
}
