.Dashboard.all-items {
	margin: 0 auto;
	max-width: var(--max-width);
	.item-list-container {
		padding: 1rem;
	}
	.item-list {
		display: flex;
		flex-direction: column;
	}
	a:hover {
		opacity: 0.3;
		transition: var(--transition);
	}
	.order-contents {
		display: flex;
	}
	.order-text {
		margin-left: 1rem;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
}
