header {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 0.2rem var(--padding);
	img {
		width: 30px;
		height: 30px;
	}
	.logo img {
		width: 100%;
		margin-right: var(--margin);
	}
	.Icons {
		display: flex;
		align-self: flex-end;
		margin-left: auto;
		img,
		svg {
			margin-left: var(--margin);
			stroke: var(--color-black);
			stroke-width: 2px;
		}
	}
	button {
		background-color: transparent;
		border: none;
	}
}
