@import "../../sass/partials/abstracts/mixins";

@keyframes animation-width {
	from {
		width: 0vw;
	}
	to {
		width: 100vw;
	}
}

@keyframes animation-desktop {
	from {
		width: 0vw;
	}
	to {
		width: 30vw;
	}
}

@keyframes animation-opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

nav {
	animation-name: animation-width;
	@include respond(desktop) {
		animation-name: animation-desktop;
	}
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-1);
	z-index: 10;
	ul {
		opacity: 0;
		animation-name: animation-opacity;
		animation-duration: 500ms;
		animation-delay: 500ms;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
		padding: 0 2em 1em 1em;
		li {
			list-style: none;
			text-align: left;
			padding: 1.2rem 0;
			border-bottom: 1px solid white;
			a,
			button {
				padding: unset;
				font-family: var(--font-primary);
				color: white;
				cursor: pointer;
				font-weight: var(--font-weight-bold);
				font-size: 24px;
			}
		}
	}
	button {
		opacity: 0;
		animation-name: animation-opacity;
		animation-duration: 500ms;
		animation-delay: 500ms;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
		background-color: transparent;
		border: none;
		padding: 1rem;
		// margin-top: 1rem;
		svg {
			height: 40px;
			width: 40px;
		}
	}
}

.menu--burger {
	svg {
		stroke: black;
		stroke-width: 1px;
	}
	&--close {
		stroke: white;
		stroke-width: 3px;
	}
}
