@import "../../sass/partials/abstracts/mixins";

.reservations {
	max-width: var(--max-width);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	// align-items: flex-start;
	@include respond(desktop) {
		display: grid;
		align-items: center;
		grid-template-columns: 1fr 1fr;
	}
	h1 {
		grid-column: 1 / -1;
	}
	.container--buy {
		margin-top: 10rem;
	}
}

.item-list-container {
	max-width: var(--max-width);
	// margin: 0 auto;
	padding: 0 var(--padding);
	.item-list {
		.Item {
			height: 100px;
			display: flex;
			flex-direction: row;
			overflow: hidden;
			.image-container {
				width: 100px;
				height: 100px;
			}
			.item-details {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding-left: var(--padding);
			}
			.item-heart {
				display: none;
			}
		}
	}
	// .item-list {
	// 	display: grid;
	// 	grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
	// 	grid-gap: var(--gap);
	// 	@include respond(desktop) {
	// 		grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	// 	}
	// }
}

.reservations h1 {
	text-align: center;
	margin-bottom: 1rem;
}
