.btn {
	display: block;
	border: 0;
	border-radius: var(--border-radius);
	cursor: pointer;
	font-family: var(--font-secondary);
	font-weight: var(--font-weight-bold);
	letter-spacing: var(--letter-spacing);
	padding: var(--padding-btn);
	text-transform: uppercase;
	width: 100%;
	&--primary {
		background-color: var(--color-1);
		color: var(--color-white);
		&:hover {
			opacity: var(--opacity);
		}
	}
	&--secondary {
		background-color: transparent;
		border: var(--border);
		color: var(--color-black);
		&:hover {
			opacity: var(--opacity);
		}
	}
}
